.item {
  flex: 1;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-container {
  width: 100%;
  height: 418px;
  overflow: hidden;
  border-bottom: 1px solid #e5e7eb;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.error-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
}

.error-placeholder p {
  font-size: 16px;
  color: #374151;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.item-details {
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 90px; /* Ensures consistent height for the details section */
}

.item-name {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: #1f2937;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  line-height: 1.3;
  height: 2.6em; /* Fixed height for 2 lines */
}

.item-prices {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: auto; /* Pushes prices to the bottom */
}

.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .item {
    max-width: 90%;
  }
}